#nextButton {
	position: fixed;
	bottom: 35px;
	right: 35px;
}

.questionContainer {
	transform: translateY(50%);
}

/*.horizontal-center {*/
	/*display: block;*/
	/*position: absolute;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
/*}*/

#questionTextPanel { text-align: center; }

#questionScalePanel { text-align: center; }

#questionScalePanel img { margin: 20px; }

#questionScalePanel p {

}

label > input {
	visibility: hidden;
	position: absolute;
}

label > input + img {
	border: 10px solid transparent;
	/*border-radius: 50%;*/
	padding: 20px;
}

label > input:checked + img{
	border: 10px solid green;
	border-radius: 50%;
	padding: 20px;
}