#nextButton {
	position: fixed;
	bottom: 35px;
	right: 35px;
}

.questionContainer {
	transform: translateY(25%);
}

#questionTextPanel { text-align: center; }

#questionScalePanel { text-align: center; }

#questionScalePanel img {
	margin: 0 15px 5px 15px;
}

#questionScalePanel h1 {
	margin: 0 15px 5px 15px;
	display: inline-table;
}

#enterNameModal button {
	margin-top: 10px;
}

label > input {
	visibility: hidden;
	position: absolute;
}

label > input + img {
	border: 10px solid transparent;
	/*border-radius: 50%;*/
	padding: 20px;
}

label > input:checked + img{
	border: 10px solid green;
	border-radius: 50%;
	padding: 20px;
}

label > input + h1 {
	border: 10px solid transparent;
	/*border-radius: 50%;*/
	padding: 20px;
}

label > input:checked + h1 {
	border: 10px solid green;
	border-radius: 50%;
	padding: 20px;
}
